In [1]:
from create_kfold import create_kfold
import pandas as pd

train = pd.read_csv('../input/feedback-prize-2021/train.csv')
train_kfold, train = create_kfold(df=train, k=5)

In [5]:
from tqdm import tqdm
train_names, train_texts = [], []
for f in tqdm(list(os.listdir('../input/feedback-prize-2021/train'))):
    train_names.append(f.replace('.txt', ''))
    train_texts.append(open('../input/feedback-prize-2021/train/' + f, 'r', encoding='utf-8').read())
train_text_df = pd.DataFrame({'id': train_names, 'text': train_texts})
train_text_df = train_text_df.merge(train_kfold, on="id", how="left")

100%|██████████| 15594/15594 [00:02<00:00, 6526.96it/s]

In [3]:
train

                  id  ...  kfold
0       423A1CA112E2  ...      1
1       423A1CA112E2  ...      1
2       423A1CA112E2  ...      1
3       423A1CA112E2  ...      1
4       423A1CA112E2  ...      1
...              ...  ...    ...
144288  4C471936CD75  ...      1
144289  4C471936CD75  ...      1
144290  4C471936CD75  ...      1
144291  4C471936CD75  ...      1
144292  4C471936CD75  ...      1

[144293 rows x 9 columns]

In [6]:
train_text_df

                 id                                               text  kfold
0      4BCA0580352F  Isn't it wonderful to know that you get a chan...      2
1      29A8E6DA6F04  One uses a car to go to the store, pick someon...      1
2      17E8BB6C550B  Driverless cars do seem like the thing today's...      1
3      319B2511943D  Have you ever thought your choice wasn't the b...      3
4      C9B1827498E4  Imagine you're sitting at home, watching a sho...      4
...             ...                                                ...    ...
15589  F2DFE12EA3B4  Many students have expressed that projects sho...      3
15590  5976F16FE9D2  In the 1960's driverless cars seemed more as l...      4
15591  D4CF0DF858F1  Looking back on that last tough decision, do y...      1
15592  DA8115F12B50  Everyday a great many people drive their cars ...      1
15593  ADAE8A21CE9E  people should not waste there oney on somethin...      1

[15594 rows x 3 columns]